# Virtual environment
venv/

# Python cache
__pycache__/

# Logs
*.log

# Ignore all pickle files
*.pkl

# But allow model and preprocessor in artifacts folder
!artifacts/model.pkl
!artifacts/preprocessor.pkl